<!-- FooterComponent.html -->
<footer class="bg-dark text-white pt-4">
    <div class="container">
        <div class="row">
            <!-- Footer Links -->
            <div class="col-md-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.brainhq.com/about" class="text-white">About</a></li>
                    <li><a href="https://www.brainhq.com/why-brainhq" class="text-white">Why BrainHQ?</a></li>
                    <li><a href="https://www.brainhq.com/world-class-science" class="text-white">World Class Science</a></li>
                    <li><a href="https://www.brainhq.com/better-brain-health" class="text-white">Better Brain Health Blog</a></li>
                    <li><a href="https://www.brainhq.com/partners" class="text-white">Partners & Groups</a></li>
                    <li><a href="https://www.brainhq.com/news" class="text-white">News</a></li>
                    <li><a href="https://www.brainhq.com/resources" class="text-white">Resources</a></li>
                    <li><a href="https://support.brainhq.com" class="text-white">Support</a></li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4 mb-4">
                <h5>Follow Us</h5>
                <a href="https://www.facebook.com/brainhq/" target="_blank" class="text-white me-3">
                    <i class="bi bi-facebook"></i> Facebook
                </a><br>
                <a href="https://twitter.com/brainhq" target="_blank" class="text-white me-3">
                    <i class="bi bi-twitter"></i> Twitter
                </a><br>
                <a href="https://www.youtube.com/brainhq" target="_blank" class="text-white me-3">
                    <i class="bi bi-youtube"></i> YouTube
                </a><br>
                <a href="https://www.pinterest.com/brainhq/" target="_blank" class="text-white">
                    <i class="bi bi-pinterest"></i> Pinterest
                </a>
            </div>

            <!-- Legal Links -->
            <div class="col-md-4 mb-4">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.brainhq.com/en-us/terms" class="text-white">Terms and Conditions</a></li>
                    <li><a href="https://www.brainhq.com/en-us/privacy" class="text-white">Privacy Policy</a></li>
                    <li><a href="https://www.brainhq.com/security" class="text-white">Security Policy</a></li>
                    <li><a href="https://www.brainhq.com/cookie-policy" class="text-white">Cookie Policy</a></li>
                    <li><a href="https://www.brainhq.com/sitemap" class="text-white">Sitemap</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center py-3">
                <img src="//b-h-q-prod.s3.amazonaws.com/release/raw_assets/lola/logo-brainhq-light.png" alt="BrainHQ Logo" width="150">
                <p class="mt-3 mb-0">Copyright © 2024 Posit Science. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

