<!-- FooterComponent.html -->
<footer class="pt-4" style="background: linear-gradient(to right, #fcb69f, #ffecd2); color: #333;">
    <div class="container">
        <div class="row">
            <!-- Footer Links -->
            <div class="col-md-4 mb-4">
                <h5 style="color: #d35400;">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.brainhq.com/about" style="color: #e67e22;">About</a></li>
                    <li><a href="https://www.brainhq.com/why-brainhq" style="color: #e67e22;">Why BrainHQ?</a></li>
                    <li><a href="https://www.brainhq.com/world-class-science" style="color: #e67e22;">World Class Science</a></li>
                    <li><a href="https://www.brainhq.com/better-brain-health" style="color: #e67e22;">Better Brain Health Blog</a></li>
                    <li><a href="https://www.brainhq.com/partners" style="color: #e67e22;">Partners & Groups</a></li>
                    <li><a href="https://www.brainhq.com/news" style="color: #e67e22;">News</a></li>
                    <li><a href="https://www.brainhq.com/resources" style="color: #e67e22;">Resources</a></li>
                    <li><a href="https://support.brainhq.com" style="color: #e67e22;">Support</a></li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4 mb-4">
                <h5 style="color: #d35400;">Follow Us</h5>
                <a href="https://www.facebook.com/brainhq/" target="_blank" style="color: #e67e22;" class="me-3">
                    <i class="bi bi-facebook"></i> Facebook
                </a><br>
                <a href="https://twitter.com/brainhq" target="_blank" style="color: #e67e22;" class="me-3">
                    <i class="bi bi-twitter"></i> Twitter
                </a><br>
                <a href="https://www.youtube.com/brainhq" target="_blank" style="color: #e67e22;" class="me-3">
                    <i class="bi bi-youtube"></i> YouTube
                </a><br>
                <a href="https://www.pinterest.com/brainhq/" target="_blank" style="color: #e67e22;">
                    <i class="bi bi-pinterest"></i> Pinterest
                </a>
            </div>

            <!-- Legal Links -->
            <div class="col-md-4 mb-4">
                <h5 style="color: #d35400;">Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.brainhq.com/en-us/terms" style="color: #e67e22;">Terms and Conditions</a></li>
                    <li><a href="https://www.brainhq.com/en-us/privacy" style="color: #e67e22;">Privacy Policy</a></li>
                    <li><a href="https://www.brainhq.com/security" style="color: #e67e22;">Security Policy</a></li>
                    <li><a href="https://www.brainhq.com/cookie-policy" style="color: #e67e22;">Cookie Policy</a></li>
                    <li><a href="https://www.brainhq.com/sitemap" style="color: #e67e22;">Sitemap</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center py-3">
                <img src="//b-h-q-prod.s3.amazonaws.com/release/raw_assets/lola/logo-brainhq-light.png" alt="BrainHQ Logo" width="150">
                <p class="mt-3 mb-0" style="color: #d35400;">Copyright © 2024 Posit Science. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

